<div>

    <h1>Add Events</h1>

    <form name="add_event_form" class="form-horizontal" role="form">


        <div class="form-group">
            <div class="">
                <input class="form-control"  ng-model="event.title" placeholder="Title"/>
            </div>
        </div>

        <div class="form-group">
            <!--<div class="">-->
            <input class="form-control"  ng-model="event.description" placeholder="Description"/>
            <!--</div>-->
        </div>

        <div class="form-group">
        <!--<div class="">-->
        <input class="form-control"   ng-model="event.date" placeholder="Date"/>
        <!--</div>-->
    </div>

        <div class="form-group">
            <!--<div class="">-->
            <input class="form-control"   ng-model="event.images" placeholder="Images"/>
            <!--</div>-->
        </div>

        <div class="form-group">
            <!--<div class="">-->
            <input class="form-control"   ng-model="event.category" placeholder="Category"/>
            <!--</div>-->
        </div>

        <div class="form-group">
            <div class="form-group">
                <button ng-click="addEvent()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>

</div>