<div>
    <h1>Events</h1>
    <table class="table" >
        <!--<caption class="lead">Adverts</caption>-->
        <thead>
        <tr>
            <th >Title</th>
            <th >Description</th>
            <th >Date</th>
            <th >Images</th>
            <th >Category</th>
            <th >Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in events">
            <td>{{event.title}}</td>
            <td>{{event.description}}</td>
            <td>{{event.date}}</td>
            <td>{{event.images}}</td>
            <td>{{event.category}}</td>
            <td><a href="#/edit/event/{{event.$id}}" class="btn btn-small btn-primary">Edit</a> <a ng-click="deleteEvent(event.$id)" class="btn btn-small btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <p>
        <a href="#/add-event" class="btn btn-primary" role="button">Add New Event</a>
    </p>
</div>