<div>
    <table class="table" >
        <!--<caption class="lead">Adverts</caption>-->
        <thead>
        <tr>
            <th>Advert</th>
            <th>Validity Period</th>
            <th>Image</th>
            <th>Category</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="advert in adverts">
            <td>{{advert.advert}}</td>
            <td>{{advert.validity_period }}</td>
            <td>{{advert.image}}</td>
            <td>{{advert.category}}</td>
            <td><a href="#/edit/advert/{{advert.$id}}" class="btn btn-small btn-primary">Edit</a> <a ng-click="deleteFaq(adverts.$id)" class="btn btn-small btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <p>
        <a href="#/add-advert" class="btn btn-primary" role="button">Add New Advert</a>
    </p>
</div>