
<div>
    <h1>News</h1>
    <table class="table" >
        <!--<caption class="lead">Adverts</caption>-->
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <!--<th>Images</th>-->
            <th>Date</th>
            <th>Category</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="news in news">
            <td>{{news.title}}</td>
            <td>{{news.description}}</td>
            <!--<td><img src="{{news.images}}" alt="image"> </td>-->
            <td>{{news.date}}</td>
            <td>{{news.category}}</td>
            <td><a href="#/edit/news/{{news.$id}}" class="btn btn-small btn-primary">Edit</a> <a ng-click="deleteNew(news.$id)" class="btn btn-small btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <p>
        <a href="#/add-news" class="btn btn-primary" role="button">Add News</a>
    </p>
</div>