<div>

    <h1>Edit News</h1>

    <form name="edit_new_form" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="">
                <input class="form-control" ng-model="new.images" placeholder="Images"/>
            </div>
        </div>

        <div class="form-group">
            <div class="">
                <input class="form-control" ng-model="new.date" placeholder="Date"/>
            </div>
        </div>

        <div class="form-group">
            <!--<div class="">-->
            <input class="form-control"  ng-model="new.category" placeholder="Category"/>
            <!--</div>-->
        </div>

        <div class="form-group">
            <div class="form-group">
                <button ng-click="editNew()" class="btn btn-primary">Update New</button>
            </div>
        </div>
    </form>


</div>