<div>

    <h1>Edit News</h1>
    <form name="edit_news_form" class="form-horizontal" role="form" >
    <div class="form-group">
        <div class="">
            <input class="form-control"  ng-model="new.images" placeholder="Images"/>
        </div>
    </div>

    <div class="form-group">
        <input type="date" class="form-control"  ng-model="new.date" placeholder="Date"/>
    </div>

    <div class="form-group">
        <input class="form-control"   ng-model="new.category" placeholder="Category"/>
    </div>

    <div class="form-group">
        <input class="form-control"  type="text"  ng-model="new.title" placeholder="Title"/>
    </div>

    <div class="form-group">
        <input class="form-control"   ng-model="new.description" placeholder="Description"/>
    </div>

    <div class="form-group">
        <div class="form-group">
            <button ng-click="editNew()" class="btn btn-primary">Update News</button>
        </div>
    </div>
    </form>


</div>