<div>

    <h1>Add Service</h1>
    <div ng-hide="!success" class="alert alert-success">
        <strong>Success!</strong> Service Added!
    </div>
    <form name="add_service_form" class="form-horizontal" role="form">

        <div class="progress" style="margin-bottom: 5px">
            <div class="progress-bar progress-bar-striped bg-success" aria-valuenow="0" style="width: 0%; text-align: center" id="uploader" role="progressbar"  aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!--<label for="fileButton">Upload Image</label>-->
        <div class="form-group">
            <input type="file" class="alert-info" value="upload" id="fileButton">
        </div>

        <div class="form-group">
            <div class="">
                <input class="form-control"  ng-model="service.service_name" placeholder="Service_Name"/>
            </div>
        </div>

        <div class="form-group">
            <!--<div class="">-->
            <input class="form-control"  ng-model="service.category" placeholder="Category"/>
            <!--</div>-->
        </div>

        <div class="form-group">
            <div class="form-group">
                <button ng-click="addService()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>

</div>