<div>

    <h1>Add Service</h1>
    <div ng-hide="!success" class="alert alert-success">
        <strong>Success!</strong> Service Added!
    </div>
    <form name="add_service_form" class="form-horizontal" role="form">

        <div class="form-group">
            <div class="">
                <input class="form-control"  ng-model="service.service_name" placeholder="Service_Name"/>
            </div>
        </div>

        <div class="form-group">
            <!--<div class="">-->
            <input class="form-control"  ng-model="service.category" placeholder="Category"/>
            <!--</div>-->
        </div>

        <div class="form-group">
            <div class="form-group">
                <button ng-click="addService()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>

</div>